
<h2 class="mt-3">
Posts about this Block
<% if @block.plot.present? %>
  (and corresponding plot<% if @block.plot.project.present? %> and project<% end %>)
<% end %>
</h2>

<%= render 'admin/posts/table', posts: [@block, @block.plot, @block.plot&.project].compact.map(&:posts).flatten %>
