<% show_current ||= false %>

<ul class="list-inline">
  <li class="list-inline-item"><span class="tile-legend tile-legend-available">&nbsp;</span> Available</li>
  <li class="list-inline-item"><span class="tile-legend tile-legend-subscribed">&nbsp;</span> Taken</li>
  <% if show_current %>
    <li class="list-inline-item"><span class="tile-legend tile-legend-focussed">&nbsp;</span> <%= featured_description %></li>
  <% end %>
</ul>

<style>
.tile-legend {
  height: 30px;
  width: 30px;
  border: 2px solid black;
  display: inline-block;
  opacity: 0.5;
}
.tile-legend-focussed {
  background-color: var(--landgrab-color-green-light, limegreen);
}
.tile-legend-available {
  background-color: var(--landgrab-color-blue, blue);
}
.tile-legend-subscribed {
  background-color: var(--landgrab-color-red-dark, darkred);
}
</style>
