<h1><%= title 'About' %></h1>

<p>
  LandGrab is a proof of concept to explore tracking areas of land
  in small parcels just a few metres across.
</p>

<p>
  The potential uses for a tool like this could be;
  <ul>
    <li>Sponsoring/buying areas of land through crowdfunding</li>
    <li>Visualising information about a plot of land</li>
    <li>Tracking the status of vegetation, infrastructure or land use on a plot.</li>
  </ul>
</p>
