<h1><%= title 'About' %></h1>

<p>
  <%= ENV.fetch('SITE_TITLE', 'This site') %>
  is powered by
  <%= link_to('LandGrab', 'https://github.com/olliebennett/landgrab/') %>
  - open source software where contributions or questions are welcome!
</p>
