<h1><%= title 'About' %></h1>

<p>
  <%= ENV.fetch('SITE_TITLE', 'This site') %>
  is powered by
  <%= link_to('LandGrab', LandgrabService::SOURCE_CODE_REPO_URL) %>
  - open source software where contributions or questions are welcome!
</p>
