<h1><%= title 'Support' %></h1>

<p>
  Something gone wrong? We'd love to help!
</p>

<h3>Email</h3>
<p>
  Send an email to
  <%= ENV.fetch('EMAIL_FROM_ADDRESS', 'landgrab@example.com') %>
  and we'll try to help!
</p>
