<h1><%= title 'Payment complete!' %></h1>

<div class="alert alert-primary" role="alert">
  We've sent an email to the email address you provided during payment.
  Please check the email to confirm your account.
</div>
