<h1><%= title 'Payment success' %></h1>

<div class="alert alert-success" role="alert">
  Thanks for your order!
</div>

<% if @block.subscription.nil? %>
  <p>Please refresh this page in a few seconds to see your new subscription!</p>
<% end %>
