<p>
  <%= link_to 'View on What3Words', tile.w3w_url %>
</p>

<p>
  <strong>Coordinates (longitude,latitude at tile centre):</strong>
  <%= tile.midpoint_rounded.join(', ') %>
</p>

<% if tile.plot.present? %>
  <p>
    This tile is part of
    <%= link_to tile.plot.title, plot_path(tile.plot) %>
    <% if tile.plot.project.present? %>
      in the <%= link_to tile.plot.project.title, project_path(tile.plot.project) %> project.
    <% end %>
  </p>
<% end %>
