<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Created</th>
      <th>Polygon</th>
      <th>Blocks</th>
    </tr>
  </thead>

  <tbody>
    <% @plots.each do |plot| %>
      <tr>
        <td><%= link_to plot.title, plot %></td>
        <td><%= plot.created_at.to_formatted_s(:short) %></td>
        <td><%= plot.polygon.coordinates[0] %></td>
        <td><%= plot.blocks.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
