<% title 'Plots' %>

<h1>Plots</h1>

<p>
  Plots are collections of "blocks" (3 by 3 metres in size) covering an area.
</p>

<%= page_entries_info @plots %>

<%= render 'table', plots: @plots %>

<%= paginate @plots, theme: 'bootstrap-5' %>
