<% title 'Plots' %>

<h1>Plots</h1>

<p>
  Plots are collections of
  <%= link_to 'blocks', blocks_path %>
  covering a larger area.

  Creating a plot will automatically import all blocks within the area.
</p>

<%= link_to 'New Plot', new_plot_path %>

<%= render 'table' %>
