<h1>
  Plot: <%= title @plot.title %>
</h1>

<div class="row">
  <div class="col-md-6">
    <%= render 'details', plot: @plot %>
    <p>
      Select a block from the map to subscribe or view details.
    </p>
    <%= render 'posts', plot: @plot %>
  </div>
  <div class="col-md-6">
    <%= render 'static_pages/w3w_map', blocks: @plot.blocks.includes(:subscription).sample(250) %>
  </div>
</div>
