<nav class="navbar navbar-expand-lg navbar-light bg-light mb-1">
  <div class="container-fluid">
    <%= link_to 'Admin', admin_dashboard_path, class: 'navbar-brand' %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#adminNavbarSupportedContent" aria-controls="adminNavbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="adminNavbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% [
          ['Projects', admin_projects_path],
          ['Plots', admin_plots_path],
          ['Posts', admin_posts_path],
          ['Tiles', admin_tiles_path],
          ['Subscriptions', admin_subscriptions_path],
          ['Users', admin_users_path]
        ].each do |text, href| %>
          <li class="nav-item">
            <%= active_navlink text, href %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
