<nav class="navbar navbar-expand-lg navbar-light bg-light mb-1">
  <div class="container-fluid">
    <%= link_to 'Admin', admin_dashboard_path, class: 'navbar-brand' %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#adminNavbarSupportedContent" aria-controls="adminNavbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="adminNavbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% [
          ['Projects', admin_projects_path],
          ['Plots', admin_plots_path],
          ['Posts',
            [
              ['All Posts', admin_posts_path],
              ['Post Views', admin_post_views_path],
              ['Comments', admin_comments_path]
            ]
          ],
          ['Promo Codes', admin_promo_codes_path],
          ['Tiles', admin_tiles_path],
          ['Subscriptions', admin_subscriptions_path],
          ['Users', admin_users_path]
        ].each do |text, config| %>
          <% if config.instance_of?(Array) %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <%= text %>
              </a>
              <ul class="dropdown-menu">
                <% config.each do |linktext, url| %>
                  <li>
                    <%= active_navlink linktext, url, 'dropdown-item' %>
                  </li>
                <% end %>
              </ul>
            </li>
          <% else %>
            <li class="nav-item">
              <%= active_navlink text, config %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
