<div class="row">
  <div class="col mb-3">
    <%= form.label :first_name, class: 'form-label' %>
    <%= form.text_field :first_name, autocomplete: 'given-name', required: true, class: 'form-control' %>
  </div>

  <div class="col mb-3">
    <%= form.label :last_name, class: 'form-label' %>
    <%= form.text_field :last_name, autocomplete: 'family-name', required: true, class: 'form-control' %>
  </div>
</div>
