
<h2 class="mt-3">
Posts about this Tile
<% if @tile.plot.present? %>
  (and corresponding plot<% if @tile.plot.project.present? %> and project<% end %>)
<% end %>
</h2>

<%= render 'admin/posts/table', posts: [@tile, @tile.plot, @tile.plot&.project].compact.map(&:posts).flatten %>
