<% if project.plots.any? %>
  <p>
    <%= project.title %> consists of
    <%= pluralize(project.plots.size, 'plot') %>
    broken into 3x3m squares ("tiles") of land.
    In order to support the restoration of the land,
    each tile is individually available to sponsor for a small fee.
  </p>
  <div class="row">
    <% project.plots.each do |plot| %>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 mb-4">
        <%= render 'plots/card', plot: plot %>
      </div>
    <% end %>
  </div>
<% else %>
  <p>There aren't any plots associated with this project yet.
<% end %>
