<% published_posts = project.posts.published %>
<% if published_posts.any? %>
  <p>
    <%= project.title %> has
    <%= pluralize(published_posts.size, 'related update') %>.
  </p>
  <%= render 'posts/list_group', posts: published_posts, show_preview: true %>
<% else %>
  <p>There aren't any posts associated with this project yet.
<% end %>
