<% if project.posts.any? %>
  <p>
    <%= project.title %> has
    <%= pluralize(project.posts.size, 'related update') %>.
  </p>
  <div class="row">
    <% project.posts.each do |post| %>
      <%= render 'posts/card', post: post %>
    <% end %>
  </div>
<% else %>
  <p>There aren't any posts associated with this project yet.
<% end %>
