<div class="row">
  <% projects.each do |project| %>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card">
        <%= image_tag project.hero_image_url, height: '150', class: 'card-img-top', alt: "Hero image for #{project.title} project" %>
        <div class="card-body">
          <h5 class="card-title"><%= project.title %></h5>
          <p class="card-text">
            <%= truncate(project.description, length: 200) %>
          </p>
          <%= link_to 'View Project', project_path(project), class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  <% end %>
</div>
