<h1><%= title "Search for a tile in #{@project.title}" %></h1>

<% if @tiles.empty? %>
  <p>There aren't any tiles in <%= @project.title %></p>
<% else %>
  <%= render 'tiles/search', tiles: @tiles %>
<% end %>
