<h1><%= title 'Projects' %></h1>

<% if @projects.size > 1 %>
  <p>
    We've collated various projects which all work towards restoring,
    regenerating or re-wilding land across the UK.
  </p>
<% elsif @projects.empty? %>
  <p>
    We haven't set up any projects yet.
  </p>
<% end %>

<%#= page_entries_info @projects %>

<%= render 'table', projects: @projects %>

<%= paginate @projects, theme: 'bootstrap-5' %>
