<h1><%= admin_title @post %></h1>

<%= render 'details', post: @post %>

<p>
  <%= link_to 'Edit post', edit_admin_post_path(@post), class: 'btn btn-secondary' %>
</p>

<h2 class="mt-3">
  Post Associations
</h2>

<p>
  Any user with an active subscription to an associated tile/plot/project
  or who is in an associated team,
  will be able to see this post.
</p>

<%= render 'associations', post_associations: @post.post_associations %>
