<h1><%= admin_title @post %></h1>

<%= render 'details', post: @post %>

<p>
  <%= link_to 'Edit post', edit_admin_post_path(@post), class: 'btn btn-secondary' %>
</p>

<h2 class="mt-3">
  Post Associations
</h2>

<%= render 'associations', post_associations: @post.post_associations %>
