<div class="row">
  <% subscriptions.each do |subscription| %>
    <div class="col-sm-6 col-lg-4">
      <% if subscription.tile.present? %>
        <%= render 'card_with_tile', subscription: subscription %>
      <% else %>
        <%= render 'card_without_tile', subscription: subscription %>
      <% end %>
    </div>
  <% end %>
</div>
