<h1><%= title 'Subscriptions' %></h1>

<p>
  You currently have
  <%= pluralize(@subscriptions.size, 'subscriptions') %>
</p>

<%= render 'table', subscriptions: @subscriptions %>

<p>
  You can subscribe to a new (unclaimed) tile from any project, plot or tile's details page.
</p>
