<h1><%= title 'Subscriptions' %></h1>

<p>
  You are currently subscribed to
  <%= pluralize(@subscriptions.size, 'tile') %>
</p>

<%= render 'table', subscriptions: @subscriptions %>

<p>
  You can subscribe to a new (unclaimed) tile from any project, plot or tile's details page.
</p>
