<table class="table">
  <tbody>
    <tr>
      <th>Block</th>
      <td>
        <%= link_to @subscription.block.hashid, block_path(@subscription.block) %>
        - <%= content_tag(:code, @subscription.block.w3w) %>
      </td>
    </tr>
    <tr>
      <th>Plot</th>
      <td>
        <% if @subscription.block.plot.present? %>
          <%= link_to @subscription.block.plot.title, plot_path(@subscription.block.plot) %>
        <% else %>
          NOT PRESENT
        <% end %>
      </td>
    </tr>
    <tr>
      <th>Created</th>
      <td>
        <%= @subscription.created_at.strftime('%e %b %Y %H:%M:%S') %>
      </td>
    </tr>
  </tbody>
</table>
