<h1><%= admin_title(PromoCode) %></h1>

<p>
  Promo codes provide discounts when applied during purchase of a subscription.
</p>

<%= page_entries_info @promo_codes %>

<%= render 'table', promo_codes: @promo_codes %>

<%= paginate @promo_codes, theme: 'bootstrap-5' %>
