<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Created</th>
      <th>Polygon</th>
      <th>Blocks</th>
    </tr>
  </thead>

  <tbody style="font-variant-numeric: tabular-nums;">
    <% @plots.each do |plot| %>
      <tr>
        <td><%= link_to plot.title, admin_plot_path(plot) %></td>
        <td><%= plot.created_at.to_formatted_s(:short) %></td>
        <td><%= plot.coordinates_display %></td>
        <td><%= plot.blocks.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
