<h1>Users</h1>

<table class="table">
  <thead>
    <tr>
      <th>User ID</th>
      <th>Email</th>
      <th>Admin?</th>
      <th>Created</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.hashid, admin_user_path(user) %></td>
        <td><%= user.email %></td>
        <td><%= user.admin? %></td>
        <td><%= user.created_at.strftime('%e %b %Y %H:%M:%S') %></td>
      </tr>
    <% end %>
  </tbody>
</table>

