# GitHub Action to run linters, based on:
# - Rails repo configuration:
#   https://github.com/rails/rails/blob/master/.github/workflows/rubocop.yml
# - GitHub Actions Docs
#   https://github.com/ruby/setup-ruby#usage

name: Lint

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      DEVISE_SECRET_KEY: devise-ci-secret-key

    steps:
    - uses: actions/checkout@v2

    - name: Set up Ruby # https://github.com/ruby/setup-ruby#usage
      uses: ruby/setup-ruby@v1 # reads version from .ruby-version file
      with:
        bundler-cache: true # runs 'bundle install' and caches installed gems automatically

    - name: Run RuboCop
      run: bin/rubocop

    - name: Run Ruumba (RuboCop on views)
      run: bin/ruumba

    - name: Run Brakeman
      run: bin/brakeman

    - name: Install RGEO dependencies
      run: sudo apt-get install libgeos-dev -y

    - name: Run Traceroute (detect unused actions/routes)
      env:
        DEVISE_SECRET_KEY: devise-ci-secret-key
      run: bin/traceroute
