<% flash.each do |key, value|
  next if key == 'a' # analytics handled separately
  # Convert devise keys into bootstrap-compatible styles
  alert_class = case key.to_s
  when "notice"
    "success"
  when "alert"
    "warning"
  when "error"
    "danger"
  else
    key.to_s
  end
  %>
  <div class="alert alert-<%= alert_class %> m-3" role="alert">
    <%= value %>
  </div>
<% end %>
